<!DOCTYPE html>
<html>
  <head>
    <title>PADuler</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="/">PADuler</a>
      </div>
    </nav>
    <main>
      <div class="main-container">
        <header class="main-header">
          <h1>PADuler</h1>
          <span>A Puzzle and Dragon's Stamina Scheduler</span>
        </header>
        <div id="paduler"></div>
      </div>
    </main>
    <script src="/bundle/app.js"></script>
  </body>
</html>
